<% author_table = Herald.config.author_class.underscore.pluralize %>
class CreateHeraldTables < ActiveRecord::Migration[<%= ActiveRecord::Migration.current_version %>]
  def change
    create_table :herald_posts do |t|
      t.references :<%= Herald.config.author_class.underscore %>, null: false, foreign_key: { to_table: :<%= author_table %> }
      t.string :title, null: false
      t.string :slug, null: false
      t.text :excerpt
      t.string :meta_description
      t.string :og_image
      t.integer :status, default: 0, null: false
      t.boolean :pinned, default: false, null: false
      t.integer :views_count, default: 0, null: false
      t.datetime :published_at

      t.timestamps
    end

    add_index :herald_posts, :slug, unique: true
    add_index :herald_posts, [:status, :published_at]

    create_table :herald_categories do |t|
      t.string :name, null: false
      t.string :slug, null: false
      t.text :description
      t.integer :position, default: 0

      t.timestamps
    end

    add_index :herald_categories, :slug, unique: true

    create_table :herald_post_categories do |t|
      t.references :herald_post, null: false, foreign_key: true
      t.references :herald_category, null: false, foreign_key: true

      t.timestamps
    end

    add_index :herald_post_categories, [:herald_post_id, :herald_category_id], unique: true, name: "idx_herald_post_categories_unique"

    create_table :herald_tags do |t|
      t.string :name, null: false
      t.string :slug, null: false

      t.timestamps
    end

    add_index :herald_tags, :name, unique: true
    add_index :herald_tags, :slug, unique: true

    create_table :herald_post_tags do |t|
      t.references :herald_post, null: false, foreign_key: true
      t.references :herald_tag, null: false, foreign_key: true

      t.timestamps
    end

    add_index :herald_post_tags, [:herald_post_id, :herald_tag_id], unique: true, name: "idx_herald_post_tags_unique"

    create_table :herald_revisions do |t|
      t.references :herald_post, null: false, foreign_key: { on_delete: :cascade }
      t.references :<%= Herald.config.author_class.underscore %>, null: false, foreign_key: { to_table: :<%= author_table %> }
      t.string :title, null: false
      t.text :excerpt
      t.text :body_text

      t.timestamps
    end

    add_index :herald_revisions, [:herald_post_id, :created_at]
  end
end
